<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: '100x100', fallback: "no_image.jpg" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to user_follow_users_path(user.id) do %>
        <%= user.following_user.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to user_follower_users_path(user.id) do %>
        <%= user.follower_user.count %>
      <% end %>
    </th>
  </tr>
</table>
<% if user == current_user %>
  <div class='row'>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% else %>
  <% if current_user.following?(user) %>
    <%= link_to  unfollow_path(user.id), method: :delete do %>
      <button class='btn btn-info'>フォロー外す</button>
    <% end %>
  <% else %>
    <%= link_to  follow_path(user.id), method: :post do %>
      <button class='btn btn-success'>フォローする</button>
    <% end %>
  <% end %>
<% end %>